*{
    margin: 0;
    padding: 0;
    text-align: center;
    width: auto;
    background-color: aliceblue;
}
img{ 
width: 100%;
align-items: center;
}

div{ 
    border-color: rgb(48, 123, 202);
    
}
form{
    align-items: center;
}
.prod{ 
    align-items: center;
}
.cuotas{
    align-items: center;
}
th{
    padding: 5px;
}
table{
    color: rgb(30, 30, 4);
    background-color: beige;
}

thead{
    background-color: bisque;
    color: black;
}