*{
    margin: 0;
    padding: 0;
    text-align: center;
    width: auto;
    background-color: aliceblue;
    box-sizing: border-box;
}
img{ 
width: 100%;
align-items: center;
}

div{ 
    border-color: rgb(48, 123, 202);
    
}
form{
    align-items: center;
}
.prod{ 
    align-items: center;
}
.cuotas{
    align-items: center;
}
th{
    padding: 5px;
}

.card{
    width: 100%;
    height: 300px;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.divCarrito{
    background-color: rgb(152, 168, 170);
    border: 2px;
    border-color: black;
    font: bolder;
}
.tituloCarrito{
    background-color: rgb(152, 168, 170);
    margin-top: 10px;
    margin-bottom: 0%;
    font-style: italic;
    size: 35px;
}
.fa-shopping-cart{
    background-color: rgb(152, 168, 170);
    color: darkgreen;
}
#contarCarrito{
    background-color:rgb(152, 168, 170);
    margin-left: 5px;
}
.divContenedorCarro{
    background-color: rgb(126, 25, 25);
    font: bold;
}
.precioProducto{
    font: bold;
    size: 20PX;
}